.box-login {
    background-color: #74fcf6;
}
body{
    background: #b8fcf9;
}
.center {
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 8%;
    align-items: center;
    text-align: center;
}
