.box-login {
    background-color: #74fcf6;
}
body{
    background: #BDE2E1;
}
.centerLogin{
    margin-right: 36%;
    margin-left: 35%;
    margin-top: 1%;
    align-items: center;
    text-align: center;
}
.centerRegister{
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 4%;
    align-items: center;
    text-align: center;
}
.cartaCentroGrande{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    align-items: center;
    text-align: center;
}
.center-Registrar{
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 3%;
    align-items: center;
    text-align: center;
}
